extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum libero eros. Ut quis mi non ex pharetra venenatis sed sed orci. Quisque tempus elit ut lectus pretium, eu ultricies neque sagittis. Proin sit amet augue orci.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum libero eros. Ut quis mi non ex pharetra venenatis sed sed orci. Quisque tempus elit ut lectus pretium, eu ultricies neque sagittis. Proin sit amet augue orci.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imajen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes	
    
    .descuento 
        .container 
            .row    
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2023- 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container  
        h2.mt-5.text-center Testimoniales

        include ./layout/bloque_testimoniales
