extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus purus vitae urna aliquet ornare. Suspendisse quis turpis venenatis, aliquam mi id, imperdiet libero. Ut dapibus turpis id sem vulputate pellentesque. Phasellus orci massa, luctus vel lorem quis, pretium euismod enim. In lacinia blandit lacus, id ultrices purus faucibus sit amet. In tristique nisi ante, porttitor gravida elit laoreet quis. Duis in neque aliquam nulla sollicitudin vestibulum eu quis nibh. Mauris mi felis, luctus quis vestibulum sit amet, eleifend pulvinar nibh. Proin porttitor efficitur tincidunt.

                p Sed sagittis sem non nisi faucibus, sed porttitor elit tempor. Quisque ultrices mi at tincidunt dictum. Proin viverra vestibulum auctor. Vivamus ex quam, mollis congue tincidunt mollis, finibus eget est. Curabitur a felis nec tortor pharetra facilisis at nec lacus. Curabitur iaculis tincidunt ipsum id vehicula. Mauris lacinia ultrices mi at eleifend. In consequat lacus ac felis ullamcorper lacinia.

                p Nunc vitae aliquam justo. In elementum semper felis, eu blandit nisi scelerisque eget. Duis non tortor libero. Quisque finibus vulputate euismod. Pellentesque eget finibus ante, eu porta massa. Vestibulum turpis elit, maximus eu euismod vitae, iaculis quis justo. Mauris vitae egestas velit. Cras rhoncus molestie tortor quis tempus. Fusce eget consectetur dolor. Nunc turpis est, imperdiet sit amet auctor eget, porttitor non nisi.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono_seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Cras rhoncus molestie tortor quis tempus. Fusce eget consectetur dolor. Nunc turpis est, imperdiet sit amet auctor eget, porttitor non nisi.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono_destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Cras rhoncus molestie tortor quis tempus. Fusce eget consectetur dolor. Nunc turpis est, imperdiet sit amet auctor eget, porttitor non nisi.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono_precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Cras rhoncus molestie tortor quis tempus. Fusce eget consectetur dolor. Nunc turpis est, imperdiet sit amet auctor eget, porttitor non nisi.